{% extends 'base.html' %}

{% block title %} Places {% endblock %}

{% block content %}
<a href= "{% url "createPlace" %}">New Place</a>
	<ol>
		{% for place in places %}
		<li>
			{{ place.city }}			
		</li>
		
		{% endfor %}
	</ol>
	<div class="pagination">
    <span class="step-links">
        {% if places.has_previous %}
            <a href="?page={{ places.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ places.number }} of {{ places.paginator.num_pages }}.
        </span>

        {% if places.has_next %}
            <a href="?page={{ places.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>		
{% endblock %}